*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #141414;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}


a:hover{
    text-decoration: underline;
}

.container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 100%;
}

.mainview{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 200px;
    margin:  0px; 
    padding: 0px;
}

/* PARTE DO HEADER DO SITE */
.background-video{
    width: 100%;   
    min-height: 450px;   
    position: relative;  
    overflow: hidden;  
}


.background-video iframe{  
    top: 0px;
    position: absolute;  
    min-height: 550px;
    margin-top: -55px;
} 

.slides{
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    width: 100%;
    padding: 20px;
}

.bloco{
    display: flex;
    flex-direction: column; 
    border: 1px solid rgb(252, 252, 252);
    min-height: 100px;
    width: 100%;
    padding: 10px;
}

.bloco h3{
    font-size: 1.4vw;
    color: #e5e5e5;
    margin-bottom: 15px;
}

#descricao{
    position: absolute;
    width: 50%;
    min-height: 550px;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;    /* alinhamento horizontal */
    justify-content: center;    /* alinhamento vestical */
    color: #fff;
}

#descricao .bloco-text{
    padding-left: 100px;
}

#titulo-capa{
    font-size: 30px;
}

#text-capa{
    font-size: 15px;
    padding: 20px 0px;
    width: 90%;
}

#btt-assistir{
    padding: 10px 25px;
    font-size: 18px;
    background-color: #fff;
    color: #141414;
    margin: 10px 1px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

#btt-assistir:hover{
    background-color: rgba(255, 255, 255, 0.925);
}

#btt-info{
    padding: 10px 25px;
    font-size: 18px;
    background-color: #6d6d6e;
    color: #fff;
    margin: 10px 1px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

#btt-info:hover{
    background-color: #6d6d6ee7;
}



.item{
    background-color: #fff;
    min-height: 100px;
}





/* PARTE DO HEADER DO SITE */


.navbar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin: 0px; 
    padding: 20px 48px;
    color:#fff;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(9,9,9,1) 0%, rgba(6,6,6,0.25253851540616246) 8%);
}

.login-block{
    align-items: center;
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: flex-end;
}

.logo-principal{
    width: 100px;
}

.ative{
    color:#fff !important;
}

.list-nav{
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 8px;
    margin-left: 30px;
}
.list-nav li{
    list-style-type: none;
    margin-right: 20px;
}

.list-nav li a{
    color: #e5e5e5;
    font-weight: 500;
}

.list-nav li a:hover {
    color: #b3b3b3;
    text-decoration: none;
}

.footer{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 80%;
    min-height: 100px;
    color: #808080;
}

.social-media{
    display: flex;
    align-items: start;
    justify-content: start;
    color: #fff;
    width: 100%;
    padding-left: 10px;
}

.social-media a{
    padding-right: 30px;
}

.social-media a i{
    color: #fff;
    font-size: 23px;
    margin: 20px 0px; 
}

.botoes-uteis{
    display: flex;
    align-items: start;
    justify-content: start;
    color: #fff;
    width: 100%;
    padding: 20px 0px;
}

.botoes-uteis button{
    background-color: transparent;
    padding: 8px 8px;
    color: #808080;
    border: 1px solid #808080;
}

.botoes-uteis button:hover{
    color: #fff;
}


.marca-site-copyright{
    display: flex;
    align-items: start;
    width: 100%;
}

.marca-site-copyright p{
    font-size: 12px;
    padding: 10px 0px;
}

.links-uteis{
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    padding: 5px 0px;
}

.links-uteis .links-uteis-links {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 13px;
    padding: 0;
    width: 100%;
}

.links-uteis .links-uteis-links li{
    box-sizing: border-box;
    flex: 0 0 50%;
    list-style-type: none;
    margin-bottom: 16px;
    flex-basis: 25%;
}

.links-uteis .links-uteis-links li a{
    color: #808080;
}